In [20]:
!pip install ipython-sql
%load_ext sql

# Connect to SQLite database
%sql sqlite:///library.db

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.12/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (3.17.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (2.0.44)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.5.4)
Requirement already satisfied: six in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.3.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (75.2.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prettytable->ipython-sql) (0.2.14)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.12/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.12/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [21]:
import prettytable

# Create a fallback DEFAULT style so ipython-sql stops crashing
prettytable.DEFAULT = prettytable.MARKDOWN

task1

In [35]:
#TASK_1
%%sql

-- DROP OLD TABLES
DROP TABLE IF EXISTS Loans;
DROP TABLE IF EXISTS Books;
DROP TABLE IF EXISTS Members;

-- CREATE TABLE: Members
CREATE TABLE Members (
    member_id INT PRIMARY KEY,
    name VARCHAR(100),
    email VARCHAR(100) UNIQUE,
    join_date DATE
);

-- CREATE TABLE: Books
CREATE TABLE Books (
    book_id INT PRIMARY KEY,
    title VARCHAR(200),
    author VARCHAR(100),
    available BOOLEAN
);

-- CREATE TABLE: Loans
CREATE TABLE Loans (
    loan_id INT PRIMARY KEY,
    member_id INT,
    book_id INT,
    loan_date DATE,
    return_date DATE,
    FOREIGN KEY (member_id) REFERENCES Members(member_id),
    FOREIGN KEY (book_id) REFERENCES Books(book_id)
);

 * sqlite:///library.db
Done.
Done.
Done.
Done.
Done.
Done.

[]



task2

### Task 2: Insert Sample Data

This cell inserts sample data into the `Members`, `Books`, and `Loans` tables. If you run this cell multiple times without clearing the database, you might encounter `UNIQUE constraint failed` errors for `Members.email` as this field is unique.

In [36]:
%%sql

-- Insert sample data into Members table
INSERT INTO Members (member_id, name, email, join_date) VALUES
(1, 'Alice Smith', 'alice.smith@example.com', '2023-01-15'),
(2, 'Bob Johnson', 'bob.j@example.com', '2023-02-20'),
(3, 'Charlie Brown', 'charlie.b@example.com', '2023-03-10');

-- Insert sample data into Books table
INSERT INTO Books (book_id, title, author, available) VALUES
(101, 'The Great Gatsby', 'F. Scott Fitzgerald', TRUE),
(102, '1984', 'George Orwell', TRUE),
(103, 'To Kill a Mockingbird', 'Harper Lee', FALSE);

-- Insert sample data into Loans table
INSERT INTO Loans (loan_id, member_id, book_id, loan_date, return_date) VALUES
(1001, 1, 101, '2023-04-01', NULL),
(1002, 2, 102, '2023-04-05', '2023-04-20'),
(1003, 1, 103, '2023-04-10', NULL);

 * sqlite:///library.db
3 rows affected.
3 rows affected.
3 rows affected.

[]

task3

### Task 3: Basic Query - List books borrowed by a specific member

This query lists the title, author, loan date, and return date for all books borrowed by a member with a specific `member_id`. Remember to replace `1` with the actual member ID you are interested in.

In [37]:
%%sql
SELECT
    B.title,
    B.author,
    L.loan_date,
    L.return_date
FROM
    Books AS B
JOIN
    Loans AS L ON B.book_id = L.book_id
WHERE
    L.member_id = 1; -- Replace 1 with the actual member_id

 * sqlite:///library.db
Done.

[('The Great Gatsby', 'F. Scott Fitzgerald', '2023-04-01', None),
 ('To Kill a Mockingbird', 'Harper Lee', '2023-04-10', None)]

task4

### Task 4: Update and Delete Queries

#### Updating a bookâ€™s availability when borrowed

This query updates the `available` status of a book to `FALSE` when it is borrowed. Replace `101` with the `book_id` of the book that has been borrowed.

In [38]:
%%sql
UPDATE Books
SET available = FALSE
WHERE book_id = 101 AND available = TRUE;

-- Optional: Verify the update
SELECT title, available FROM Books WHERE book_id = 101;

 * sqlite:///library.db
1 rows affected.
Done.

[('The Great Gatsby', 0)]

In [39]:
%%sql
SELECT COUNT(*)
FROM Loans
WHERE member_id = 3;

 * sqlite:///library.db
Done.

[(0,)]

In [40]:
%%sql
-- Step 1: Delete all loan records for a specific member (e.g., member_id = 3)
DELETE FROM Loans
WHERE member_id = 3;

-- Step 2: Now, delete the member record (e.g., member_id = 3)
DELETE FROM Members
WHERE member_id = 3;

-- Optional: Verify deletion
SELECT * FROM Members WHERE member_id = 3;

 * sqlite:///library.db
0 rows affected.
1 rows affected.
Done.

[]